<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
	href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
	rel="stylesheet">
<link rel="stylesheet" type="text/css" media="all"
	href="../static/css/layoutstyle2.css"
	th:href="@{/css/layoutstyle2.css}" />
<title>Inventory Management System</title>
</head>
<body>
<header th:insert="layout/layout2.html :: header"></header>
	<div th:replace="layout/layout2.html :: menu"></div>
	<div class="main">
	<h3>Customer Form</h3>
	<hr>
	<form action="" th:object="${customer}" th:action="@{/Customer/save}"
		method="POST">
		<div class="form-group">
		<fieldset>
			<input type="hidden"
				th:field="*{customerID}" />
		</fieldset>
		<fieldset>
			Customer Name: <input type="text" th:field="*{customerName}" class="form-control">
			<p th:if="${#fields.hasErrors('customerName')}" th:errors="*{customerName}"></p>
		</fieldset>
		<fieldset>
			Customer Vehicle: <input type="text" th:field="*{vehicle}" class="form-control">
			<p th:if="${#fields.hasErrors('vehicle')}" th:errors="*{vehicle}"></p>
		</fieldset>
		<fieldset>
			Customer Email: <input type="email" th:field="*{email}" class="form-control">
			<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
		</fieldset>
		<fieldset> 
			Customer Phone: <input type="text" th:field="*{contactno}" class="form-control">
			<p th:if="${#fields.hasErrors('contactno')}" th:errors="*{contactno}"></p>
		</fieldset>	
		<fieldset>
			<button type="submit" class="btn btn-success" style="float:right;">Save</button>
			<a href="javascript:history.back()" class="btn btn-default">Go Back</a>
		</fieldset>
		</div>
	</form>
	<br>
	<br>
	</div>
	<footer th:insert="layout/layout2.html :: footer"></footer>
</body>
</html> 