<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
	href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
	rel="stylesheet">
<link rel="stylesheet" type="text/css" media="all"
	href="../static/css/layoutstyle2.css"
	th:href="@{/css/layoutstyle2.css}" />
<title>Inventory Management System</title>
</head>
<body>
<div class="main">
	<div class="error-form">
		<header th:insert="layout/layout2.html::header"></header>
		<br>
		<br>
		<h3>Something went wrong!</h3>
		<h4>Our team is currently on it</h4>
		<br> <a href="javascript:history.back()" class="btn btn-default">Go
			Back?</a>
		<br>
		<br>
	</div>
</div>
	<footer th:insert="layout/layout2.html::footer"></footer>
</body>
</html>