<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
	href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
	rel="stylesheet">
<link rel="stylesheet" type="text/css" media="all"
	href="../static/css/layoutstyle2.css"
	th:href="@{/css/layoutstyle2.css}" />
<title>Inventory Management System</title>
</head>
<body>
	<header th:insert="layout/layout2.html::header"></header>
	<div th:insert="layout/layout2.html::menu"></div>
	<div class="main">
	<h3>
		Select Transaction Type
	</h3>
	<hr>
<table align="center" class="landing-table">
<tr>
<td class="landing-table-cell" th:if="${session.usession.role.toString().equals('ADMIN')}"><a th:href="@{/stockentry/raise}"><img src="/images/Receiving-RMA.png" class="img-thumbnail" style="width:200px; height:200px"></a></td>
<td class="landing-table-cell"><a th:href="@{/stockentry/usage}"><img src="/images/Usage.png" class="img-thumbnail" style="width:200px; height: 200px"></a></td>
</tr>
<tr>
<td th:if="${session.usession.role.toString().equals('ADMIN')}">RECEIVING / DAMAGE</td>
<td>USAGE</td>
</tr>
</table>
<br>
<br>
</div>
	<footer th:insert="layout/layout2.html::footer"></footer>
</body>
</html>